<ul>
  <li><a href="/">Home</a></li>
  <li><a class="active" href="/about">About</a></li>
  <li><a href="/projects">Projects</a></li>
</ul>

<div class="main-container">
<h2>About me</h2>
  <div>
    <p class="about-p">I have recently moved into a career in tech, after spending over a decade within elite sport, both as an athlete and a coach. I love having the opportunity to learn new things, and in May 2022 I started a 12 week coding bootcamp with Makers Academy to develop the skills necessary for working as a software engineer.</p>
    <img class="profile-image" src="/images/dave.jpeg" alt="Dave">
  </div>
</div>