<ul>
  <li><a href="/">Home</a></li>
  <li><a class="active" href="/about">About</a></li>
  <li><a href="/projects">Projects</a></li>
</ul>

<div class="main-container">
<h2>About me</h2>
<p>I've recently transitioned into the tech industry from my previous career as a sports coach.</p>
<img src="/images/dave.jpeg" width="320" height="'240" alt="Dave">
</div>