<div>

<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/projects">Projects</a></li>
</ul>
<img class="background-image" src="/images/surfing-the-net.png" 
  alt="Dave on his keyboard, giving a cheeky thumbs up">
<div class="main-container">
<h2>Dave Kempsell</h2>
<p>Hi, my name is Dave, and I am a software engineer</p>
</div>