<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a class="active" href="/projects">Projects</a></li>
</ul>

<div class="main-container">
<h2>Here are some of my projects</h2>
</div>
<div class="project-cards-container">
  <a href="https://github.com/davekempsell/bean-app" target="_blank">
  <img class="project-card" src="/images/bean-app-screenshot.png">
  </a>
  <a href="https://github.com/davekempsell/bank_tech_test" target="_blank">
  <img class="project-card" src="/images/tastebook-screenshot.png">
  </a>
  <a href="https://github.com/davekempsell/gilded-rose-tech-test" target="_blank">
  <img class="project-card" src="/images/gilded-rose-screenshot.png">
  </a>
  <a href="https://github.com/davekempsell/bank_tech_test" target="_blank">
  <img class="project-card" src="/images/bank-screenshot.png">
  </a>
</div>