<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a class="active" href="/projects">Projects</a></li>
</ul>

<div class="main-container">
<h2>Here's some of my projects</h2>
</div>